VITE_TURNSTILE_SITE_KEY=your_turnstile_site_key_here
VITE_ZEPTO_API_KEY=your_zepto_api_key_here
VITE_CONTACT_EMAIL=contact@kiasfot.com
VITE_FROM_EMAIL=noreply@kiasfot.com
VITE_CONTACT_API_ENDPOINT=https://api.zeptomail.com/v1.1/email
VITE_ANALYTICS_ENABLED=false
VITE_GA_MEASUREMENT_ID=G-XXXXXXXXXX
